/* ESTILOS DEL MAIN */
main {
    background-color: rgb(230, 180, 180);
    
}

header {
    position: relative;
    height: 100%;
    background-color: #D9D9D9;
}

body{
    margin: 0px;
    padding: 0px;
}
